.open_legend.sheet.actor {
	form {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		margin: 0;
	}

	* {
		box-sizing: border-box;
	}

	.header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 1 1 1;
		align-self: flex-start;

		.info {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			flex: 1 1 80%;

			.fb-name, .fb-archetype, .fb-player {
				flex: 0 0 50%;
			}

			.fb-level, .fb-experience {
				flex: 0 0 25%;
			}
		}

		.img {
			flex: 1 1 20%;
		}

		.description {
			flex: 1;
			height: 128px;
		}
	}

	.body {
		display: flex;
		flex: 1;

		.attributes {
			flex: 0 0 40%;
			order: -1;
		}

		.other {
			flex: 1;
			display: flex;
			flex-direction: column;

			.core {
				display: flex;
				flex-direction: row;

				.defense {
					flex: 0 0 50%;
					.guard, .toughness, .resolve {
						flex: 0 0 33%;
					}
				}

				.information {
					flex: 0 0 50%;

					.hp {
						flex: 1;
					}

					.legend_speed {
						flex: 1;

						display: flex;
						flex-direction: row;

						.legend, .speed {
							flex: 0 0 50%;
						}
					}

					.wealth {
						flex: 1;
					}
				}
			}
		}
	}

	h3 {
		background-color: #4444;
	}

	.attributes {
		.number {
			width: 32px;
		}
	}
}
