.open_legend.sheet.item form {
  display: flex;
  flex-direction: column;
}
.open_legend.sheet.item .sheet-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.open_legend.sheet.item .sheet-body .editor {
  height: 100%;
}
.open_legend.sheet.actor form {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}
.open_legend.sheet.actor * {
  box-sizing: border-box;
}
.open_legend.sheet.actor .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 1;
  align-self: flex-start;
}
.open_legend.sheet.actor .header .info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 80%;
}
.open_legend.sheet.actor .header .info .fb-name,
.open_legend.sheet.actor .header .info .fb-archetype,
.open_legend.sheet.actor .header .info .fb-player {
  flex: 0 0 50%;
}
.open_legend.sheet.actor .header .info .fb-level,
.open_legend.sheet.actor .header .info .fb-experience {
  flex: 0 0 25%;
}
.open_legend.sheet.actor .header .img {
  flex: 1 1 20%;
}
.open_legend.sheet.actor .header .description {
  flex: 1;
  height: 128px;
}
.open_legend.sheet.actor .body {
  display: flex;
  flex: 1;
}
.open_legend.sheet.actor .body .attributes {
  flex: 0 0 40%;
  order: -1;
}
.open_legend.sheet.actor .body .other {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.open_legend.sheet.actor .body .other .core {
  display: flex;
  flex-direction: row;
}
.open_legend.sheet.actor .body .other .core .defense {
  flex: 0 0 50%;
}
.open_legend.sheet.actor .body .other .core .defense .guard,
.open_legend.sheet.actor .body .other .core .defense .toughness,
.open_legend.sheet.actor .body .other .core .defense .resolve {
  flex: 0 0 33%;
}
.open_legend.sheet.actor .body .other .core .information {
  flex: 0 0 50%;
}
.open_legend.sheet.actor .body .other .core .information .hp {
  flex: 1;
}
.open_legend.sheet.actor .body .other .core .information .legend_speed {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.open_legend.sheet.actor .body .other .core .information .legend_speed .legend,
.open_legend.sheet.actor .body .other .core .information .legend_speed .speed {
  flex: 0 0 50%;
}
.open_legend.sheet.actor .body .other .core .information .wealth {
  flex: 1;
}
.open_legend.sheet.actor h3 {
  background-color: #4444;
}
.open_legend.sheet.actor .attributes .number {
  width: 32px;
}
