<form class="{{cssClass}}" autocomplete="off">
	<header class="header">
		<div class="info">
			<div class="flexbox-item fb-name">
				<a>{{localize "open_legend_lang.name"}}</a>
				<input name="data.name" type="text" value="{{data.name}}"/>
			</div>
			<div class="flexbox-item fb-archetype">
				<a>{{localize "open_legend_lang.archetype"}}</a>
				<input name="data.archetype" type="text" value="{{data.archetype}}"/>
			</div>
			<div class="flexbox-item fb-player">
				<a>{{localize "open_legend_lang.player"}}</a>
				<input name="data.player" type="text" value="{{data.player}}"/>
			</div>
			<div class="flexbox-item fb-level">
				<a>{{localize "open_legend_lang.level"}}</a>
				<input name="data.level" type="Number" value="{{data.level}}"/>
			</div>
			<div class="flexbox-item fb-experience">
				<a>{{localize "open_legend_lang.experience"}}</a>
				<input name="data.experience" type="Number" value="{{data.experience}}"/>
			</div>
		</div>
		<div class="img">
			<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
		</div>
		<div class="description">
			<a>{{localize "open_legend_lang.description"}}</a>
			{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
		</div>
	</header>
	<div class="body">
		<div class="attributes">
			<div class="attribute-block">
				{{> "systems/open_legend/templates/parts/attribute-block.html"}}
			</div>
		</div>
		<div class="other">
			<h2>{{localize "open_legend_lang.core"}}</h2>
			<div class="core">
				<div class="defense">
					<div class="guard">
						<h3>{{localize "open_legend_lang.guard"}}</h3>
						{{data.guard}}
					</div>
					<div class="toughness">
						<h3>{{localize "open_legend_lang.toughness"}}</h3>
						{{data.toughness}}
					</div>
					<div class="resolve">
						<h3>{{localize "open_legend_lang.resolve"}}</h3>
						{{data.resolve}}
					</div>
				</div>
				<div class="information">
					<div class="hp">
						<h3>{{localize "open_legend_lang.hit_points"}}</h3>
						{{data.hit_points.value}}/{{data.hit_points.max}}
					</div>
					<div class="legend_speed">
						<div class="legend">
							<h3>{{localize "open_legend_lang.legend_points"}}</h3>
							{{data.legend_points}}
						</div>
						<div class="speed">
							<h3>{{localize "open_legend_lang.speed"}}</h3>
							{{data.speed}}m
						</div>
					</div>
					<div class="wealth">
						<h3>{{localize "open_legend_lang.wealth_level"}}</h3>
							{{data.wealth}}m
					</div>
				</div>
			</div>
			<div class="actions">
				<div>
					<label><h2>{{localize "open_legend_lang.actions"}}</h2></label>
					<a class="item-create" data-type="action" title="{{localize "open_legend_lang.add_action"}}">
						<i class="fas fa-plus"></i>
					</a>
				</div>
				<div>
					<table style="width:100%">
						<tr>
							<th>{{localize "open_legend_lang.name"}}</th>
							<th>{{localize "open_legend_lang.description"}}</th>
						</tr>
						{{#each actions as |action id|}}
						<tr>
							<td>{{action.name}}</td>
							<td>{{action.description}}</td>
						</tr>
						{{/each}}
					</table>
				</div>
			</div>
			<div class="feats">
				<div>
					<label><h2>{{localize "open_legend_lang.feats"}}</h2></label>
					<a class="item-create" data-type="feat" title="{{localize "open_legend_lang.add_action"}}">
						<i class="fas fa-plus"></i>
					</a>
				</div>
				<div>
					<table style="width:100%">
						<tr>
							<th>{{localize "open_legend_lang.name"}}</th>
							<th>{{localize "open_legend_lang.description"}}</th>
						</tr>
						{{#each feats as |feat id|}}
						<tr>
							<td>{{action.name}}</td>
							<td>{{action.description}}</td>
						</tr>
						{{/each}}
					</table>
				</div>
			</div>
		</div>
	</div>
</form>
