<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
		<h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
	</header>
	<div class="sheet-body">
		<div>
			<label>{{localize "open_legend_lang.weapon.categories"}}</label>
			<div class="flexrow weapon-categories">
				{{#each config.weapon_categories as |name cat|}}
				<input class="check-custom" type="checkbox" id="data.categories.{{cat}}" name="data.categories.{{cat}}" {{checked (lookup ../data.categories cat)}}/>
				<label class="check-toggle" for="data.categories.{{cat}}">{{localize name}}</label>
				{{/each}}
			</div>
		</div>

		{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
	</div>
</form>
