<section class="attributes">
	<div>
		<label class="title">
			<h2>{{localize "open_legend_lang.attributes"}}</h2>
		</label>
		<p>{{localize "open_legend_lang.attribute_points"}} {{data.attributes.cost.value}} / {{data.attributes.cost.max}}</p>
	</div>

	<div>
		<label class="subtitle">
			<h3>{{localize "open_legend_lang.physical"}}</h3>
		</label>
		<table style="width:100%">
			<tr>
				<th></th>
				<th>{{localize "open_legend_lang.score"}}</th>
				<th>{{localize "open_legend_lang.cost"}}</th>
				<th>{{localize "open_legend_lang.dice"}}</th>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.agility"}}</th>
				<td><input class="number" name="data.attributes.physical.agility.value" type="Number" value="{{data.attributes.physical.agility.value}}"/></td>
				<td>{{data.attributes.physical.agility.cost}}</td>
				<td>{{data.attributes.physical.agility.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.fortitude"}}</th>
				<td><input class="number" name="data.attributes.physical.fortitude.value" type="Number" value="{{data.attributes.physical.fortitude.value}}"/></td>
				<td>{{data.attributes.physical.fortitude.cost}}</td>
				<td>{{data.attributes.physical.fortitude.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.might"}}</th>
				<td><input class="number" name="data.attributes.physical.might.value" type="Number" value="{{data.attributes.physical.might.value}}"/></td>
				<td>{{data.attributes.physical.might.cost}}</td>
				<td>{{data.attributes.physical.might.dice}}</td>
			</tr>
		</table>
	</div>
	<div>
		<label class="subtitle">
			<h3>{{localize "open_legend_lang.social"}}</h3>
		</label>
		<table style="width:100%">
			<tr>
				<th></th>
				<th>{{localize "open_legend_lang.score"}}</th>
				<th>{{localize "open_legend_lang.cost"}}</th>
				<th>{{localize "open_legend_lang.dice"}}</th>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.deception"}}</th>
				<td><input class="number" name="data.attributes.social.deception.value" type="Number" value="{{data.attributes.social.deception.value}}"/></td>
				<td>{{data.attributes.social.deception.cost}}</td>
				<td>{{data.attributes.social.deception.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.presence"}}</th>
				<td><input class="number" name="data.attributes.social.presence.value" type="Number" value="{{data.attributes.social.presence.value}}"/></td>
				<td>{{data.attributes.social.presence.cost}}</td>
				<td>{{data.attributes.social.presence.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.persuasion"}}</th>
				<td><input class="number" name="data.attributes.social.persuasion.value" type="Number" value="{{data.attributes.social.persuasion.value}}"/></td>
				<td>{{data.attributes.social.persuasion.cost}}</td>
				<td>{{data.attributes.social.persuasion.dice}}</td>
			</tr>
		</table>
	</div>
	<div>
		<label class="subtitle">
			<h3>{{localize "open_legend_lang.mental"}}</h3>
		</label>
		<table style="width:100%">
			<tr>
				<th></th>
				<th>{{localize "open_legend_lang.score"}}</th>
				<th>{{localize "open_legend_lang.cost"}}</th>
				<th>{{localize "open_legend_lang.dice"}}</th>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.learning"}}</th>
				<td><input class="number" name="data.attributes.mental.learning.value" type="Number" value="{{data.attributes.mental.learning.value}}"/></td>
				<td>{{data.attributes.mental.learning.cost}}</td>
				<td>{{data.attributes.mental.learning.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.logic"}}</th>
				<td><input class="number" name="data.attributes.mental.logic.value" type="Number" value="{{data.attributes.mental.logic.value}}"/></td>
				<td>{{data.attributes.mental.logic.cost}}</td>
				<td>{{data.attributes.mental.logic.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.perception"}}</th>
				<td><input class="number" name="data.attributes.mental.perception.value" type="Number" value="{{data.attributes.mental.perception.value}}"/></td>
				<td>{{data.attributes.mental.perception.cost}}</td>
				<td>{{data.attributes.mental.perception.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.will"}}</th>
				<td><input class="number" name="data.attributes.mental.will.value" type="Number" value="{{data.attributes.mental.will.value}}"/></td>
				<td>{{data.attributes.mental.will.cost}}</td>
				<td>{{data.attributes.mental.will.dice}}</td>
			</tr>
		</table>
	</div>
	<div>
		<label class="subtitle">
			<h3>{{localize "open_legend_lang.extraordinary"}}</h3>
		</label>
		<table style="width:100%">
			<tr>
				<th></th>
				<th>{{localize "open_legend_lang.score"}}</th>
				<th>{{localize "open_legend_lang.cost"}}</th>
				<th>{{localize "open_legend_lang.dice"}}</th>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.alteration"}}</th>
				<td><input class="number" name="data.attributes.extraordinary.alteration.value" type="Number" value="{{data.attributes.extraordinary.alteration.value}}"/></td>
				<td>{{data.attributes.extraordinary.alteration.cost}}</td>
				<td>{{data.attributes.extraordinary.alteration.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.creation"}}</th>
				<td><input class="number" name="data.attributes.extraordinary.creation.value" type="Number" value="{{data.attributes.extraordinary.creation.value}}"/></td>
				<td>{{data.attributes.extraordinary.creation.cost}}</td>
				<td>{{data.attributes.extraordinary.creation.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.energy"}}</th>
				<td><input class="number" name="data.attributes.extraordinary.energy.value" type="Number" value="{{data.attributes.extraordinary.energy.value}}"/></td>
				<td>{{data.attributes.extraordinary.energy.cost}}</td>
				<td>{{data.attributes.extraordinary.energy.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.entropy"}}</th>
				<td><input class="number" name="data.attributes.extraordinary.entropy.value" type="Number" value="{{data.attributes.extraordinary.entropy.value}}"/></td>
				<td>{{data.attributes.extraordinary.entropy.cost}}</td>
				<td>{{data.attributes.extraordinary.entropy.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.influence"}}</th>
				<td><input class="number" name="data.attributes.extraordinary.influence.value" type="Number" value="{{data.attributes.extraordinary.influence.value}}"/></td>
				<td>{{data.attributes.extraordinary.influence.cost}}</td>
				<td>{{data.attributes.extraordinary.influence.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.movement"}}</th>
				<td><input class="number" name="data.attributes.extraordinary.movement.value" type="Number" value="{{data.attributes.extraordinary.movement.value}}"/></td>
				<td>{{data.attributes.extraordinary.movement.cost}}</td>
				<td>{{data.attributes.extraordinary.movement.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.prescience"}}</th>
				<td><input class="number" name="data.attributes.extraordinary.prescience.value" type="Number" value="{{data.attributes.extraordinary.prescience.value}}"/></td>
				<td>{{data.attributes.extraordinary.prescience.cost}}</td>
				<td>{{data.attributes.extraordinary.prescience.dice}}</td>
			</tr>
			<tr>
				<th>{{localize "open_legend_lang.protection"}}</th>
				<td><input class="number" name="data.attributes.extraordinary.protection.value" type="Number" value="{{data.attributes.extraordinary.protection.value}}"/></td>
				<td>{{data.attributes.extraordinary.protection.cost}}</td>
				<td>{{data.attributes.extraordinary.protection.dice}}</td>
			</tr>
		</table>
	</div>
</section>
