<section>
	<label class="stat-name">
		<h3>{{localize "open_legend_lang.guard"}}</h3>
	</label>
	<div class="stat-value">
		{{data.guard}}
	</div>
	<label class="stat-name">
		<h3>{{localize "open_legend_lang.toughness"}}</h3>
	</label>
	<div class="stat-value">
		{{data.toughness}}
	</div>
	<label class="stat-name">
		<h3>{{localize "open_legend_lang.resolve"}}</h3>
	</label>
	<div class="stat-value">
		{{data.resolve}}
	</div>
</section>
